.main {
    position: relative;
}

.flex-row-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    height: 30px;
}

main {
    flex: 1;
}

.words-on-card {
    font-size: 8px;
    vertical-align: middle;
    display: inline-block;
    line-height: 1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.part-of-speech {
    color: orange;
}

.middle-field {
    width: 300px;
    height: 760px;
    vertical-align: middle;
    border-color: coral;
    border-style: dashed;
    border-radius: 15px;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hand-container {
    width: 100%;
}

.center-commands {
    width: 300px;
}

.playingCards.rotateHand ul.hand li:nth-child(1) {
    transform: translate(1.5em, 4.2em) rotate(-30deg);
}

.playingCards ul.hand li:nth-child(1) {
    left: 1em;
}

.playingCards.rotateHand ul.hand li:nth-child(2) {
    transform: translate(1.5em, .5em) rotate(-15deg)
}

.playingCards ul.hand li:nth-child(2) {
    left: 10em
}

.playingCards.rotateHand ul.hand li:nth-child(3) {
    transform: translate(1.5em, -0.8em) rotate(0deg)
}

.playingCards ul.hand li:nth-child(3) {
    left: 20em
}

.playingCards.rotateHand ul.hand li:nth-child(4) {
    transform: translate(1.5em, .5em) rotate(15deg)
}

.playingCards ul.hand li:nth-child(4) {
    left: 30em
}

.playingCards.rotateHand ul.hand li:nth-child(5) {
    transform: translate(1.5em, 4.2em) rotate(30deg)
}

.playingCards ul.hand li:nth-child(5) {
    left: 39em
}

.flex-main-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-row-decks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 760px;
    height: 140px;
    margin: 0 auto;
    margin-top: 15px;
}

.left-commands {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-commands {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-meta {
    width: 100%;
    border-top: lightblue 5px double;
    border-bottom: lightblue 5px double;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.big-card,
.face.front,
.face.back {
    width: 68vh;
    height: 50vh;
}

.big-card {
    position: relative;
    background: transparent;
}

.face.front {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 2rem;
    padding: 40px;

    background:
        linear-gradient(63deg, #FFF 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, #FCFCFC 78%),
        linear-gradient(63deg, transparent 34%, #FCFCFC 38%, #FCFCFC 58%, transparent 62%),
        #FFF;
    background-size: 16px 48px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 36px;
    align-items: flex-start;

    transform: rotateY(0deg);
    transition: all 0.8s ease-in-out;
    /* -webkit-backface-visibility: visible; */
    backface-visibility: visible;
    z-index: 10;
    box-shadow: 8px 8px 20px #555;
}

.face.back {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 2rem;
    padding: 40px;
    background-color: white;

    background:
        linear-gradient(63deg, #FFF 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, #FCFCFC 78%),
        linear-gradient(63deg, transparent 34%, #FCFCFC 38%, #FCFCFC 58%, transparent 62%),
        #FFF;
    background-size: 16px 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 52px;
    align-items: center;

    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
    z-index: 5;
    box-shadow: 8px 8px 20px #555;
}

/* Flip the card and apply easing */
.big-card.flip .front {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all .8s ease-in-out;
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
    z-index: 5;
}

.big-card.flip .back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: all .8s ease-in-out;
    /* -webkit-backface-visibility: visible; */
    backface-visibility: visible;
    z-index: 10;
}

@mixin rounded($amount) {
    border-radius: $amount;
}

.deck-place {
    position: relative;
    width: 95px;
    height: 120px;
    margin-left: 15px;
}

.deck-track {
    position: absolute;
    left: -12px;
    top: 10px;
    border-color: lightgray;
    border-style: dotted;
    border-radius: 15px;
    border-width: 2px;
    width: 95px;
    height: 120px;
}

.main-deck-place {
    position: relative;
    width: 200px;
    height: 120px;
    margin-left: 15px;
}

.main-deck-track {
    position: absolute;
    left: -12px;
    top: 10px;
    border-color: lightgray;
    border-style: dotted;
    border-radius: 15px;
    border-width: 2px;
    width: 200px;
    height: 120px;
}

.search-card {
    width: 180px;
}

.word-example {
    font-style: italic;
    color: lightblue;
}

.spoiler {
    background: gray;
    color: gray;
    width: 300px;
    margin: 0 auto;
}

.spoiler:hover,
.spoilered {
    color: white;
}

.add-card {
    font-size: 50px;
    color: lightgray;
}

.shuffle {
    font-size: 36px;
    color: gray;
    margin-top: 60px;
}

.half-circle-container {
    width: 200px;
    height: 100px;
    position: relative;
}

.half-circle {
    position: absolute;
    top: 2px;
    width: 200px;
    height: 100px;
    background-color: lightgrey;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid coral;
    border-bottom: 0;
}

.deck .card {
    background-color: lightgray;
}

.hand .card.active {
    box-shadow: 0.2em 0.2em 0.5em coral;
    border: 1px solid coral;
}

.deck-track.active {
    border-color: coral;
    border-style: dashed;
}